# TURN server name and realm
realm={{ coturn_domain }}
server-name=turnserver

# Use fingerprint in TURN message
fingerprint

# IPs the TURN server listens to
listening-ip=0.0.0.0

# External IP-Address of the TURN server
external-ip={{ coturn_external_ip }}

# Main listening port
listening-port={{ coturn_listening_port }}

# Further ports that are open for communication
min-port={{ coturn_min_port }}
max-port={{ coturn_max_port }}

# Log file path
log-file=/var/log/turnserver/turnserver.log

# Enable verbose logging
verbose

# Specify the user for the TURN authentification
user=turnuser:{{ coturn_static_auth_secret }}

# Enable long-term credential mechanism
lt-cred-mech

# If running coturn version older than 4.5.2, uncomment these rules and ensure
# that you have listening-ip set to ipv4 addresses only.
# Prevent Loopback bypass https://github.com/coturn/coturn/security/advisories/GHSA-6g6j-r9rf-cm7p
#denied-peer-ip=0.0.0.0-0.255.255.255
#denied-peer-ip=127.0.0.0-127.255.255.255
#denied-peer-ip=::1

pidfile=/run/turnserver/turnserver.pid